#noost-list{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 40px;
}

#card{
    /* width: 350px; */
}

#btns{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}