{% extends "layouts/header-footer.html" %} {% block main-content %} 
{% comment %} {% load static %} {% endcomment %}
{% for item in noots %}
<div id="card">
  <div class="card">
    <h5 class="card-header text-center">{{item.title}}</h5>
    <div class="card-body">
      <p class="card-text">{{item.text}}</p>
      <div id="btns">
        <div class="text-center" id="ediet_btn">
          <a href="{% url "edite.noot" item.id %}" class="btn btn-primary">Edite</a>
        </div>
        <div class="text-center" id="delete_btn">
          <a href="{% url "delete.noot" item.id %}" class="btn btn-primary">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %} 

{% comment %}
<div class="col-5">
  <div class="card">
    <h5 class="card-header text-center">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <div class="text-center">
        <a href="#" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>
</div>
{% endcomment %} {% endblock main-content %}
